# redis-cluster
services:
  redis-node-1:
    image: redis:8-alpine
    entrypoint: /entrypoint.sh
    environment:
      KJH_REDIS_CLUSTER_PORT: 6379
      KJH_REDIS_CLUSTER_BUS_PORT: 16379
    volumes:
      # Redis default data directory: /data
      - redis-node-1-data:/data
      - ./entrypoint.sh:/entrypoint.sh:ro
    ports:
      - "6379:6379"
      - "16379:16379"

  redis-node-2:
    image: redis:8-alpine
    entrypoint: /entrypoint.sh
    environment:
      KJH_REDIS_CLUSTER_PORT: 6380
      KJH_REDIS_CLUSTER_BUS_PORT: 16380
    volumes:
      # Redis default data directory: /data
      - redis-node-2-data:/data
      - ./entrypoint.sh:/entrypoint.sh:ro
    ports:
      - "6380:6379"
      - "16380:16379"

  redis-node-3:
    image: redis:8-alpine
    entrypoint: /entrypoint.sh
    environment:
      KJH_REDIS_CLUSTER_PORT: 6381
      KJH_REDIS_CLUSTER_BUS_PORT: 16381
    volumes:
      # Redis default data directory: /data
      - redis-node-3-data:/data
      - ./entrypoint.sh:/entrypoint.sh:ro
    ports:
      - "6381:6379"
      - "16381:16379"

  redis-node-4:
    image: redis:8-alpine
    entrypoint: /entrypoint.sh
    environment:
      KJH_REDIS_CLUSTER_PORT: 6382
      KJH_REDIS_CLUSTER_BUS_PORT: 16382
    volumes:
      # Redis default data directory: /data
      - redis-node-4-data:/data
      - ./entrypoint.sh:/entrypoint.sh:ro
    ports:
      - "6382:6379"
      - "16382:16379"

  redis-node-5:
    image: redis:8-alpine
    entrypoint: /entrypoint.sh
    environment:
      KJH_REDIS_CLUSTER_PORT: 6383
      KJH_REDIS_CLUSTER_BUS_PORT: 16383
    volumes:
      # Redis default data directory: /data
      - redis-node-5-data:/data
      - ./entrypoint.sh:/entrypoint.sh:ro
    ports:
      - "6383:6379"
      - "16383:16379"

  redis-node-6:
    image: redis:8-alpine
    entrypoint: /entrypoint.sh
    environment:
      KJH_REDIS_CLUSTER_PORT: 6384
      KJH_REDIS_CLUSTER_BUS_PORT: 16384
    volumes:
      # Redis default data directory: /data
      - redis-node-6-data:/data
      - ./entrypoint.sh:/entrypoint.sh:ro
    ports:
      - "6384:6379"
      - "16384:16379"

  redis-cluster-init:
    image: redis:8-alpine
    depends_on:
      - redis-node-1
      - redis-node-2
      - redis-node-3
      - redis-node-4
      - redis-node-5
      - redis-node-6
    restart: "no"
    entrypoint: /init-cluster.sh
    volumes:
      - ./init-cluster.sh:/init-cluster.sh:ro

  redis-exporter:
    image: oliver006/redis_exporter:latest
    command:
      - --redis.addr=redis://host.containers.internal:6379
    depends_on:
      - redis-node-1
    ports:
      - "9121:9121"

  redisinsight:
    image: redis/redisinsight:latest
    depends_on:
      - redis-node-1
    environment:
      RI_REDIS_HOST_1: host.containers.internal
      RI_REDIS_PORT_1: 6379
      RI_REDIS_ALIAS_1: node-1
      RI_REDIS_HOST_2: host.containers.internal
      RI_REDIS_PORT_2: 6380
      RI_REDIS_ALIAS_2: node-2
      RI_REDIS_HOST_3: host.containers.internal
      RI_REDIS_PORT_3: 6381
      RI_REDIS_ALIAS_3: node-3
      RI_REDIS_HOST_4: host.containers.internal
      RI_REDIS_PORT_4: 6382
      RI_REDIS_ALIAS_4: node-4
      RI_REDIS_HOST_5: host.containers.internal
      RI_REDIS_PORT_5: 6383
      RI_REDIS_ALIAS_5: node-5
      RI_REDIS_HOST_6: host.containers.internal
      RI_REDIS_PORT_6: 6384
      RI_REDIS_ALIAS_6: node-6
    volumes:
      - redisinsight-data:/data
    ports:
      - "5540:5540"

volumes:
  redis-node-1-data:
  redis-node-2-data:
  redis-node-3-data:
  redis-node-4-data:
  redis-node-5-data:
  redis-node-6-data:
  redisinsight-data:
