# mongo-rs
services:
  mongo-rs-1:
    image: mongo:8
    entrypoint: /entrypoint.sh
    volumes:
      # MongoDB default data directory: /data/db
      - mongo-rs-1-vol:/data/db
      - ./entrypoint.sh:/entrypoint.sh:ro
    ports:
      - "27017:27017"

  mongo-rs-2:
    image: mongo:8
    entrypoint: /entrypoint.sh
    volumes:
      # MongoDB default data directory: /data/db
      - mongo-rs-2-vol:/data/db
      - ./entrypoint.sh:/entrypoint.sh:ro
    ports:
      - "27018:27017"

  mongo-rs-3:
    image: mongo:8
    entrypoint: /entrypoint.sh
    volumes:
      # MongoDB default data directory: /data/db
      - mongo-rs-3-vol:/data/db
      - ./entrypoint.sh:/entrypoint.sh:ro
    ports:
      - "27019:27017"

  mongo-rs-init:
    image: mongo:8
    depends_on:
      - mongo-rs-1
      - mongo-rs-2
      - mongo-rs-3
    restart: "no"
    entrypoint: /init-replset.sh
    volumes:
      - ./init-replset.sh:/init-replset.sh:ro

  mongo-rs-exporter:
    image: percona/mongodb_exporter:0.48
    depends_on:
      - mongo-rs-1
      - mongo-rs-2
      - mongo-rs-3
    command:
      - --collector.collstats-limit=0
      - --collect-all=true
      - --collector.replicasetstatus=true
      - --mongodb.uri=mongodb://mongo-rs-1:27017,mongo-rs-2:27017,mongo-rs-3:27017/?replicaSet=rs0

  mongo-compass:
    image: haohanyang/compass-web:latest
    depends_on:
      - mongo-rs-init
    environment:
      CW_HOST: 0.0.0.0
      CW_MONGO_URI: mongodb://mongo-rs-1:27017,mongo-rs-2:27017,mongo-rs-3:27017/?replicaSet=rs0
    ports:
      - "27999:8080"

  consul-register:
    image: hashicorp/consul:latest
    entrypoint: /entrypoint.sh
    restart: "no"
    depends_on:
      - mongo-compass
      - mongo-rs-exporter
    volumes:
      - ../../shared/consul-register/entrypoint.sh:/entrypoint.sh:ro
      - ./consul-register.json:/config/services.json:ro

networks:
  default:
    name: shared-net
    external: true
    driver: bridge

volumes:
  mongo-rs-1-vol:
  mongo-rs-2-vol:
  mongo-rs-3-vol:
