# mongo-cluster
services:
  mongo-compass:
    image: haohanyang/compass-web:latest
    depends_on:
      mongos-proxy:
        condition: service_started
      mongo-cluster-init-sharded-cluster:
        condition: service_completed_successfully
    environment:
      CW_HOST: 0.0.0.0
      CW_MONGO_URI: mongodb://mongos-proxy:27017
    ports:
      - "27999:8080"

  mongos-proxy:
    image: envoyproxy/envoy:v1.33-latest
    depends_on:
      - mongos-1
      - mongos-2
      - mongos-3
    volumes:
      - ./mongos-proxy.config.yml:/etc/envoy/envoy.yaml:ro
    ports:
      - "27017:27017"
      - "9901:9901"

  mongos-1:
    image: mongo:8
    entrypoint: /mongo-mongos.sh
    environment:
      ARG_MONGO_CONFIGDB: cfgRS/mongo-configsvr-1:27019,mongo-configsvr-2:27019,mongo-configsvr-3:27019
    volumes:
      - ./mongo-mongos.sh:/mongo-mongos.sh:ro
    depends_on:
      mongo-cluster-init-each-shard-rs:
        condition: service_completed_successfully

  mongos-2:
    image: mongo:8
    entrypoint: /mongo-mongos.sh
    environment:
      ARG_MONGO_CONFIGDB: cfgRS/mongo-configsvr-1:27019,mongo-configsvr-2:27019,mongo-configsvr-3:27019
    volumes:
      - ./mongo-mongos.sh:/mongo-mongos.sh:ro
    depends_on:
      mongo-cluster-init-each-shard-rs:
        condition: service_completed_successfully

  mongos-3:
    image: mongo:8
    entrypoint: /mongo-mongos.sh
    environment:
      ARG_MONGO_CONFIGDB: cfgRS/mongo-configsvr-1:27019,mongo-configsvr-2:27019,mongo-configsvr-3:27019
    volumes:
      - ./mongo-mongos.sh:/mongo-mongos.sh:ro
    depends_on:
      mongo-cluster-init-each-shard-rs:
        condition: service_completed_successfully

  mongo-configsvr-1:
    image: mongo:8
    entrypoint: /mongo-configsvr.sh
    environment:
      ARG_MONGO_REPLSET_NAME: cfgRS
    volumes:
      # MongoDB configsvr default data directory: /data/configdb
      - mongo-configsvr-1-vol:/data/configdb
      - ./mongo-configsvr.sh:/mongo-configsvr.sh:ro

  mongo-configsvr-2:
    image: mongo:8
    entrypoint: /mongo-configsvr.sh
    environment:
      ARG_MONGO_REPLSET_NAME: cfgRS
    volumes:
      # MongoDB configsvr default data directory: /data/configdb
      - mongo-configsvr-2-vol:/data/configdb
      - ./mongo-configsvr.sh:/mongo-configsvr.sh:ro

  mongo-configsvr-3:
    image: mongo:8
    entrypoint: /mongo-configsvr.sh
    environment:
      ARG_MONGO_REPLSET_NAME: cfgRS
    volumes:
      # MongoDB configsvr default data directory: /data/configdb
      - mongo-configsvr-3-vol:/data/configdb
      - ./mongo-configsvr.sh:/mongo-configsvr.sh:ro

  mongo-shard1-1:
    image: mongo:8
    entrypoint: /mongo-shardsvr.sh
    environment:
      ARG_MONGO_REPLSET_NAME: shard1RS
    volumes:
      # MongoDB default data directory: /data/db
      - mongo-shard1-1-vol:/data/db
      - ./mongo-shardsvr.sh:/mongo-shardsvr.sh:ro

  mongo-shard1-2:
    image: mongo:8
    entrypoint: /mongo-shardsvr.sh
    environment:
      ARG_MONGO_REPLSET_NAME: shard1RS
    volumes:
      # MongoDB default data directory: /data/db
      - mongo-shard1-2-vol:/data/db
      - ./mongo-shardsvr.sh:/mongo-shardsvr.sh:ro

  mongo-shard1-3:
    image: mongo:8
    entrypoint: /mongo-shardsvr.sh
    environment:
      ARG_MONGO_REPLSET_NAME: shard1RS
    volumes:
      # MongoDB default data directory: /data/db
      - mongo-shard1-3-vol:/data/db
      - ./mongo-shardsvr.sh:/mongo-shardsvr.sh:ro

  mongo-shard2-1:
    image: mongo:8
    entrypoint: /mongo-shardsvr.sh
    environment:
      ARG_MONGO_REPLSET_NAME: shard2RS
    volumes:
      # MongoDB default data directory: /data/db
      - mongo-shard2-1-vol:/data/db
      - ./mongo-shardsvr.sh:/mongo-shardsvr.sh:ro

  mongo-shard2-2:
    image: mongo:8
    entrypoint: /mongo-shardsvr.sh
    environment:
      ARG_MONGO_REPLSET_NAME: shard2RS
    volumes:
      # MongoDB default data directory: /data/db
      - mongo-shard2-2-vol:/data/db
      - ./mongo-shardsvr.sh:/mongo-shardsvr.sh:ro

  mongo-shard2-3:
    image: mongo:8
    entrypoint: /mongo-shardsvr.sh
    environment:
      ARG_MONGO_REPLSET_NAME: shard2RS
    volumes:
      # MongoDB default data directory: /data/db
      - mongo-shard2-3-vol:/data/db
      - ./mongo-shardsvr.sh:/mongo-shardsvr.sh:ro

  mongo-shard3-1:
    image: mongo:8
    entrypoint: /mongo-shardsvr.sh
    environment:
      ARG_MONGO_REPLSET_NAME: shard3RS
    volumes:
      # MongoDB default data directory: /data/db
      - mongo-shard3-1-vol:/data/db
      - ./mongo-shardsvr.sh:/mongo-shardsvr.sh:ro

  mongo-shard3-2:
    image: mongo:8
    entrypoint: /mongo-shardsvr.sh
    environment:
      ARG_MONGO_REPLSET_NAME: shard3RS
    volumes:
      # MongoDB default data directory: /data/db
      - mongo-shard3-2-vol:/data/db
      - ./mongo-shardsvr.sh:/mongo-shardsvr.sh:ro

  mongo-shard3-3:
    image: mongo:8
    entrypoint: /mongo-shardsvr.sh
    environment:
      ARG_MONGO_REPLSET_NAME: shard3RS
    volumes:
      # MongoDB default data directory: /data/db
      - mongo-shard3-3-vol:/data/db
      - ./mongo-shardsvr.sh:/mongo-shardsvr.sh:ro

  mongo-cluster-init-config-rs:
    image: mongo:8
    depends_on:
      - mongo-configsvr-1
      - mongo-configsvr-2
      - mongo-configsvr-3
    restart: "no"
    entrypoint: /init-config-rs.sh
    volumes:
      - ./init-config-rs.sh:/init-config-rs.sh:ro

  mongo-cluster-init-each-shard-rs:
    image: mongo:8
    depends_on:
      mongo-cluster-init-config-rs:
        condition: service_completed_successfully
      mongo-shard1-1:
        condition: service_started
      mongo-shard1-2:
        condition: service_started
      mongo-shard1-3:
        condition: service_started
      mongo-shard2-1:
        condition: service_started
      mongo-shard2-2:
        condition: service_started
      mongo-shard2-3:
        condition: service_started
      mongo-shard3-1:
        condition: service_started
      mongo-shard3-2:
        condition: service_started
      mongo-shard3-3:
        condition: service_started
    restart: "no"
    entrypoint: /init-each-shard-rs.sh
    volumes:
      - ./init-each-shard-rs.sh:/init-each-shard-rs.sh:ro

  mongo-cluster-init-sharded-cluster:
    image: mongo:8
    depends_on:
      - mongos-1
    restart: "no"
    entrypoint: /init-sharded-cluster.sh
    volumes:
      - ./init-sharded-cluster.sh:/init-sharded-cluster.sh:ro

  mongo-cluster-exporter:
    image: percona/mongodb_exporter:0.48
    depends_on:
      - mongos-proxy
    command:
      - --collector.collstats-limit=0
      - --collect-all=true
      - --collector.replicasetstatus=true
      - --collector.shards=true
      - --split-cluster=true
      - --mongodb.uri=mongodb://mongos-1:27017,mongos-2:27017,mongos-3:27017,mongo-shard1-1:27018,mongo-shard1-2:27018,mongo-shard1-3:27018,mongo-shard2-1:27018,mongo-shard2-2:27018,mongo-shard2-3:27018,mongo-shard3-1:27018,mongo-shard3-2:27018,mongo-shard3-3:27018/?directConnection=true

  consul-register:
    image: hashicorp/consul:latest
    entrypoint: /entrypoint.sh
    restart: "no"
    depends_on:
      - mongo-compass
      - mongo-cluster-exporter
    volumes:
      - ../../shared/consul-register/entrypoint.sh:/entrypoint.sh:ro
      - ./consul-register.json:/config/services.json:ro

networks:
  default:
    name: shared-net
    external: true
    driver: bridge

volumes:
  mongo-configsvr-1-vol:
  mongo-configsvr-2-vol:
  mongo-configsvr-3-vol:
  mongo-shard1-1-vol:
  mongo-shard1-2-vol:
  mongo-shard1-3-vol:
  mongo-shard2-1-vol:
  mongo-shard2-2-vol:
  mongo-shard2-3-vol:
  mongo-shard3-1-vol:
  mongo-shard3-2-vol:
  mongo-shard3-3-vol:
