# redis-cluster
services:
  redis-node-1:
    image: redis:8-alpine
    entrypoint: /entrypoint.sh
    environment:
      ARG_REDIS_CLUSTER_PORT: 6379
      ARG_REDIS_CLUSTER_BUS_PORT: 16379
    volumes:
      # Redis default data directory: /data
      - redis-node-1-vol:/data
      - ./entrypoint.sh:/entrypoint.sh:ro
    ports:
      - "6379:6379"
      - "16379:16379"

  redis-node-2:
    image: redis:8-alpine
    entrypoint: /entrypoint.sh
    environment:
      ARG_REDIS_CLUSTER_PORT: 6380
      ARG_REDIS_CLUSTER_BUS_PORT: 16380
    volumes:
      # Redis default data directory: /data
      - redis-node-2-vol:/data
      - ./entrypoint.sh:/entrypoint.sh:ro
    ports:
      - "6380:6379"
      - "16380:16379"

  redis-node-3:
    image: redis:8-alpine
    entrypoint: /entrypoint.sh
    environment:
      ARG_REDIS_CLUSTER_PORT: 6381
      ARG_REDIS_CLUSTER_BUS_PORT: 16381
    volumes:
      # Redis default data directory: /data
      - redis-node-3-vol:/data
      - ./entrypoint.sh:/entrypoint.sh:ro
    ports:
      - "6381:6379"
      - "16381:16379"

  redis-node-4:
    image: redis:8-alpine
    entrypoint: /entrypoint.sh
    environment:
      ARG_REDIS_CLUSTER_PORT: 6382
      ARG_REDIS_CLUSTER_BUS_PORT: 16382
    volumes:
      # Redis default data directory: /data
      - redis-node-4-vol:/data
      - ./entrypoint.sh:/entrypoint.sh:ro
    ports:
      - "6382:6379"
      - "16382:16379"

  redis-node-5:
    image: redis:8-alpine
    entrypoint: /entrypoint.sh
    environment:
      ARG_REDIS_CLUSTER_PORT: 6383
      ARG_REDIS_CLUSTER_BUS_PORT: 16383
    volumes:
      # Redis default data directory: /data
      - redis-node-5-vol:/data
      - ./entrypoint.sh:/entrypoint.sh:ro
    ports:
      - "6383:6379"
      - "16383:16379"

  redis-node-6:
    image: redis:8-alpine
    entrypoint: /entrypoint.sh
    environment:
      ARG_REDIS_CLUSTER_PORT: 6384
      ARG_REDIS_CLUSTER_BUS_PORT: 16384
    volumes:
      # Redis default data directory: /data
      - redis-node-6-vol:/data
      - ./entrypoint.sh:/entrypoint.sh:ro
    ports:
      - "6384:6379"
      - "16384:16379"

  redis-cluster-init:
    image: redis:8-alpine
    depends_on:
      - redis-node-1
      - redis-node-2
      - redis-node-3
      - redis-node-4
      - redis-node-5
      - redis-node-6
    restart: "no"
    entrypoint: /init-cluster.sh
    volumes:
      - ./init-cluster.sh:/init-cluster.sh:ro

  redis-cluster-exporter:
    image: oliver006/redis_exporter:latest
    command:
      - --is-cluster
      - --redis.addr=redis-node-1:6379
    depends_on:
      - redis-node-1
      - redis-node-2
      - redis-node-3
      - redis-node-4
      - redis-node-5
      - redis-node-6
    ports:
      # redis_exporter의 discover-cluster-nodes 기능이
      # 각 node가 announce하는 주소를 반환하는데,
      # 그 주소가 host.containers.internal 이므로 매핑 필요
      - "9121:9121"

  redisinsight:
    image: redis/redisinsight:latest
    depends_on:
      - redis-node-1
    environment:
      RI_FILES_LOGGER: "false"
      RI_ACCEPT_TERMS_AND_CONDITIONS: "true"
      RI_REDIS_HOST_1: host.containers.internal
      RI_REDIS_PORT_1: 6379
      RI_REDIS_ALIAS_1: node-1
      RI_REDIS_HOST_2: host.containers.internal
      RI_REDIS_PORT_2: 6380
      RI_REDIS_ALIAS_2: node-2
      RI_REDIS_HOST_3: host.containers.internal
      RI_REDIS_PORT_3: 6381
      RI_REDIS_ALIAS_3: node-3
      RI_REDIS_HOST_4: host.containers.internal
      RI_REDIS_PORT_4: 6382
      RI_REDIS_ALIAS_4: node-4
      RI_REDIS_HOST_5: host.containers.internal
      RI_REDIS_PORT_5: 6383
      RI_REDIS_ALIAS_5: node-5
      RI_REDIS_HOST_6: host.containers.internal
      RI_REDIS_PORT_6: 6384
      RI_REDIS_ALIAS_6: node-6
    ports:
      - "5540:5540"

networks:
  default:
    name: shared-net
    external: true
    driver: bridge

volumes:
  redis-node-1-vol:
  redis-node-2-vol:
  redis-node-3-vol:
  redis-node-4-vol:
  redis-node-5-vol:
  redis-node-6-vol:
