# mongo-rs
services:
  mongo-rs-1:
    image: mongo:8
    entrypoint: /entrypoint.sh
    volumes:
      # MongoDB default data directory: /data/db
      - mongo-rs-1-data:/data/db
      - ./entrypoint.sh:/entrypoint.sh:ro
    ports:
      - "27017:27017"

  mongo-rs-2:
    image: mongo:8
    entrypoint: /entrypoint.sh
    volumes:
      # MongoDB default data directory: /data/db
      - mongo-rs-2-data:/data/db
      - ./entrypoint.sh:/entrypoint.sh:ro
    ports:
      - "27018:27017"

  mongo-rs-3:
    image: mongo:8
    entrypoint: /entrypoint.sh
    volumes:
      # MongoDB default data directory: /data/db
      - mongo-rs-3-data:/data/db
      - ./entrypoint.sh:/entrypoint.sh:ro
    ports:
      - "27019:27017"

  mongo-rs-init:
    image: mongo:8
    depends_on:
      - mongo-rs-1
      - mongo-rs-2
      - mongo-rs-3
    restart: "no"
    entrypoint: /init-replset.sh
    volumes:
      - ./init-replset.sh:/init-replset.sh:ro

  mongodb-exporter:
    image: percona/mongodb_exporter:0.48
    depends_on:
      - mongo-rs-1
    command:
      - --mongodb.uri=mongodb://host.containers.internal:27017,host.containers.internal:27018,host.containers.internal:27019/?replicaSet=rs0
    ports:
      - "9216:9216"

  compass-web:
    image: haohanyang/compass-web:latest
    depends_on:
      - mongo-rs-init
    command:
      - compass-web
      - --host
      - 0.0.0.0
      - --mongo-uri
      - mongodb://host.containers.internal:27017,host.containers.internal:27018,host.containers.internal:27019/?replicaSet=rs0
    ports:
      - "8080:8080"

networks:
  default:
    name: shared-net
    external: true
    driver: bridge

volumes:
  mongo-rs-1-data:
  mongo-rs-2-data:
  mongo-rs-3-data:
